*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html {
    font-size: 16px;
    scroll-behavior: smooth
}

body {
    width: 100%;
    max-width: 2600px
}

p {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    letter-spacing: 1px
}

a:hover {
    text-decoration: none;
    cursor: pointer
}

li {
    list-style-type: none
}

h3 {
    text-transform: uppercase;
    font-family: 'helvetica';
    font-size: clamp(1.2rem, 2vw, 1.4rem);
    font-weight: 700
}

.bloc {
    clear: both;
    position: relative;
    width: 100%;
    padding: 0 50px;
    background: 50% 50% no-repeat;
    background-size: cover
}

.bloc .container {
    position: relative;
    padding-right: 0;
    padding-left: 0
}

.bloc-lg {
    padding: 50px
}

.white {
    text-shadow: 0 2px 8px #000;
    font-family: "helvetica";
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    color: #fff
}

.bloc-md {
    padding: 50px
}

.bloc-sm {
    padding: 30px 50px
}

.bg-repeat {
    background: repeat
}

.bloc-bg-texture::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: 2px 2px
}

.texture-paper::before {
    background: url(../img/texture-paper.webp);
    background-size: 280px 280px
}

.b-parallax {
    background-attachment: fixed
}

.d-bloc .a-btn,
.d-bloc .navbar a,
.d-bloc .navbar-brand,
.d-bloc a .icon-sm,
.d-bloc a .icon-md,
.d-bloc a .icon-lg,
.d-bloc a .icon-xl,
.d-bloc h1 a,
.d-bloc h2 a,
.d-bloc h3 a,
.d-bloc h4 a,
.d-bloc h5 a,
.d-bloc h6 a,
.d-bloc p a {
    color: rgba(255, 255, 255, .6)
}

.d-bloc .a-btn:hover,
.d-bloc .navbar a:hover,
.d-bloc .navbar-brand:hover,
.d-bloc a:hover .icon-sm,
.d-bloc a:hover .icon-md,
.d-bloc a:hover .icon-lg,
.d-bloc a:hover .icon-xl,
.d-bloc h1 a:hover,
.d-bloc h2 a:hover,
.d-bloc h3 a:hover,
.d-bloc h4 a:hover,
.d-bloc h5 a:hover,
.d-bloc h6 a:hover,
.d-bloc p a:hover {
    color: rgba(255, 255, 255, 1)
}

.white {
    color: #dc784a
}

.l-bloc .navbar-toggle .icon-bar {
    color: rgba(0, 0, 0, .6)
}

.voffset-lg {
    margin-top: 80px
}

.row-no-gutters {
    margin-right: 0;
    margin-left: 0
}

blockquote {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 1000px;
    font-size: clamp(1rem, 2.5vw, 1.2rem)
}

blockquote p:nth-child(2) {
    color: rgb(113, 111, 111);
    margin-top: 5px;
}

#bloc-1-hero {
    background-color: #364577;
    height: 450px
}

#bloc-1-hero h1 {
    text-shadow: 0 2px 8px #000;
    font-family: "helvetica";
    font-size: clamp(1.5rem, 4vw, 2.5rem);
    color: #fff
}

#bloc-6 h1 {
    font-family: "helvetica";
    font-size: clamp(1.5rem, 4vw, 2.5rem)
}

.navbar {
    z-index: 1;
    margin-bottom: 0
}

.navbar-brand {
    height: auto;
    padding: 3px 15px;
    font-size: 25px;
    font-weight: 400;
    font-weight: 600;
    line-height: 44px
}

.navbar-brand img {
    height: 100px;
    max-height: 200px
}

.navbar-brand img[src$=svg] {
    min-width: 100px
}

.nav-center .navbar-brand img {
    margin: 0
}

.navbar .nav {
    z-index: 1;
    float: right;
    margin-right: -16px;
    padding-top: 2px
}

.nav>li {
    float: left;
    margin: 0 30px;
    margin-top: 4px;
    font-size: 1.3rem
}

.nav li a {
    position: relative;
    color: #000
}

.nav li a::after {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #F3976C;
    transition: width 0.2s ease-in-out;
    transform: translateX(-50%)
}

.nav li a:hover::after,
.nav li a:focus::after {
    width: 65%
}

.navbar-nav .open .dropdown-menu>li>a {
    text-align: inherit
}

.nav>li a:hover,
.nav>li a:focus {
    background: transparent
}

.navbar-toggle {
    margin: 10px 10px 0 0;
    border: 0
}

.navbar-toggle:hover {
    background: transparent
}

.navbar-toggle .icon-bar {
    width: 26px;
    background-color: rgba(0, 0, 0, .5)
}

.nav-invert .navbar .nav {
    float: left
}

.nav-invert .navbar-header,
.nav-invert .navbar-brand {
    z-index: 2;
    float: right;
    position: relative
}

form {
    width: 50%;
    margin: 40px 0
}

.nav>li>.dropdown a {
    display: block;
    padding: 14px 15px;
    background: none
}

nav .caret {
    margin: 0 5px
}

.dropdown-menu .dropdown-menu {
    top: -8px;
    left: 100%
}

.dropdown-menu .dropmenu-flow-right {
    top: 100%;
    left: 0;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.dropdown-menu .dropdown span {
    float: right;
    margin: 6px -5px 0 0;
    border: 4px solid #000;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent
}

.btn {
    border: 1px solid #000
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
    color: #FFF;
    background: rgba(0, 0, 0, .3)
}

.btn-rd {
    border-radius: 40px
}

.btn-clean {
    border: 1px solid rgba(0, 0, 0, .08);
    border-bottom-color: rgba(0, 0, 0, .1);
    text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15)
}

.icon-md {
    font-size: clamp(30px, 3vw, 50px)
}

.icon-lg {
    font-size: clamp(50px, 5vw, 100px)
}

.sm-shadow {
    text-shadow: 0 1px 2px rgba(0, 0, 0, .3)
}

.form-control {
    height: 50px;
    border-color: rgba(0, 0, 0, .1);
    font-size: clamp(.9rem, 2vw, 1.1rem);
    box-shadow: none
}

.scrollToTop {
    display: flex;
    z-index: 500;
    position: absolute;
    top: 50%;
    right: 20px;
    align-items: center;
    justify-content: center;
    border: none;
    opacity: 1;
    transition: all .3s ease-in-out;
    transform: translateY(-50%)
}

a[data-lightbox] {
    display: block;
    position: relative;
    text-align: center;
    background-color: #000
}

a[data-lightbox]:hover::before {
    content: "+";
    display: flex;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    font-size: 32px;
    font-weight: 100;
    color: #FFF;
    background: rgba(0, 0, 0, .6);
    transform: translate(-50%, -50%)
}

a[data-lightbox]:hover img {
    opacity: .6;
    animation-fill-mode: none
}

#lightbox-modal {
    display: flex;
    align-items: center
}

#lightbox-modal .modal-dialog {
    margin: 0 auto 0;
    max-width: 900px
}

#lightbox-modal .modal-dialog img {
    margin: 0 auto;
    max-height: 90vh
}

.lightbox-caption {
    position: absolute;
    right: 15px;
    bottom: 5px;
    left: 15px;
    padding: 20px;
    text-align: center;
    color: #FFF;
    background: rgba(0, 0, 0, .5)
}

.close-lightbox {
    z-index: 20;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0 9px 5px;
    border: none;
    font-size: 30px;
    line-height: 30px;
    color: #FFF;
    opacity: .3;
    background: rgba(0, 0, 0, .5)
}

.close-lightbox:hover,
.next-lightbox:hover,
.prev-lightbox:hover {
    color: #FFF;
    opacity: 1
}

.next-lightbox,
.prev-lightbox {
    z-index: 1;
    position: absolute;
    top: 45%;
    font-size: 20px;
    color: rgba(255, 255, 255, .9);
    opacity: .4;
    background: rgba(0, 0, 0, .5);
    transition: all .2s ease-in-out
}

.next-lightbox {
    right: 25px;
    padding: 6px 8px 1px 13px
}

.prev-lightbox {
    left: 25px;
    padding: 6px 13px 1px 10px
}

.snapshot-lb .modal-body {
    padding-bottom: 45px
}

.snapshot-lb .lightbox-caption {
    padding: 0;
    color: rgb(0, 0, 0);
    background: none
}

.container {
    width: 100%;
    max-width: 1900px
}

.hero-bloc-text {
    font-size: 38px
}

.tight-width-whitespace {
    margin: auto;
    max-width: 700px
}

.logo {
    width: 30%;
    border-radius: 50%;
    background-color: #F3976C;
    box-shadow: 0 2px 8px rgb(0, 0, 0)
}

.logo-contact {
    width: 45%;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgb(0, 0, 0);
    box-shadow: 5px 5px 8px #cbcfd5, -5px -5px 8px #eff3f9
}

label {
    margin-bottom: 15px;
    font-size: clamp(.9rem, 2vw, 1.2rem);
    font-weight: 500;
    letter-spacing: 1px
}

.cta-hero {
    position: relative;
    margin-top: 15px;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-size: clamp(.8rem, 2vw, 1.2rem);
    font-weight: 600;
    letter-spacing: 1px;
    color: #000;
    background: #fff;
    transition: all 0.2s ease-in-out
}

.cta-hero:hover,
.cta-hero:focus {
    background-color: #F3976C
}

.social {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 600px
}

.med-width-whitespace {
    margin: auto;
    max-width: 2000px
}

.icons {
    margin-top: 24px;
    margin-bottom: 14px
}

.black-background {
    padding: 40px;
    border-radius: 5px;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    background-color: #F3976C;
    box-shadow: 0 2px 8px rgb(0, 0, 0)
}

.bgc-white {
    background-color: #FFF
}

.bgc-atomic-tangerine {
    background-color: #F3976C
}

.bg-lines-h2-bg {
    background-image: url(../img/lines-h2-bg.png)
}

.bg-banniere {
    background-image: url(../img/agence-la-panthere.webp)
}

.bg-presentation {
    background-image: url(../img/image-de-presentation.webp)
}

.title-h2 {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 900px;
    font-family: "helvetica";
    font-size: clamp(1.3rem, 3vw, 1.8rem)
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0
}

.flex-center p {
    margin: 10px 0
}

.flex-center img {
    margin-bottom: 20px
}

.portfolio-h2 {
    width: 100%;
    margin: 40px auto;
    max-width: 900px;
    font-family: "helvetica";
    font-size: clamp(1.3rem, 3vw, 1.8rem)
}

.navbar-toggle:focus span {
    background: #F3976C
}

@media (min-width:951px) {
    .site-navigation {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(0, -50%);
        transform: translateY(-50%)
    }
}

@media only screen and (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
    .b-parallax {
        background-attachment: scroll
    }
}

@media only screen and (min-width:1024px) and (max-width:1366px) {
    .b-parallax {
        background-attachment: scroll
    }
}

@media (max-width:950px) {
    .b-parallax {
        background-attachment: scroll
    }

    .page-container,
    #hero-bloc {
        position: relative;
        overflow-x: hidden
    }

    .bloc-group,
    .bloc-group .bloc {
        display: block;
        width: 100%
    }

    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding: 0 20px
    }

    .nav>li {
        width: 100%;
        margin: 0;
        margin-top: 0;
        border-bottom: 1px solid rgba(0, 0, 0, .1);
        text-align: left;
        background: rgba(0, 0, 0, .05)
    }

    .nav>li:hover {
        background: rgba(0, 0, 0, .08)
    }

    .nav li a::after {
        content: '';
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 3px;
        background-color: #000;
        transition: width 0.2s ease-in-out;
        transform: translateX(-50%)
    }

    .navbar .nav {
        float: none;
        padding-top: 0;
        border-top: 1px solid rgba(0, 0, 0, .2)
    }

    .navbar.row {
        margin-right: 0;
        margin-left: 0
    }

    .navbar-brand img {
        width: auto;
        max-height: 40px
    }

    .nav-invert .navbar-header {
        float: none;
        width: 100%
    }

    .nav-invert .navbar-toggle {
        float: left;
        margin-left: 10px
    }

    .navbar-collapse {
        padding: 0;
        overflow-x: hidden;
        box-shadow: none
    }

    .logo-contact {
        width: 30%
    }

    .flex-center {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0
    }

    .page-container {
        position: relative;
        overflow-x: hidden
    }

    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    #disqus_thread {
        padding-right: 10px;
        padding-left: 10px
    }

    .b-parallax {
        background-attachment: scroll
    }

    .site-navigation {
        position: inherit;
        transform: none
    }

    .dropdown .dropdown a .caret {
        float: none;
        margin: 5px 0 0 10px;
        border: 4px solid #000;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent
    }

    .cta-hero {
        padding: .5rem 1.5rem
    }

    #hero-bloc .navbar .nav {
        background: rgba(0, 0, 0, .8)
    }

    .bloc {
        padding-right: 0;
        padding-left: 0
    }

    .bloc-sm,
    .bloc-md {
        padding-right: 0;
        padding-left: 0
    }

    .bloc-tile-2 .container,
    .bloc-tile-3 .container,
    .bloc-tile-4 .container,
    .bloc-fill-screen .fill-bloc-top-edge,
    .bloc-fill-screen .fill-bloc-bottom-edge {
        padding-right: 0;
        padding-left: 0
    }

    .a-block {
        padding: 0 10px
    }

    .btn-dwn {
        display: none
    }

    .voffset {
        margin-top: 5px
    }

    .voffset-md {
        margin-top: 20px
    }

    form {
        width: 50%;
        width: 95%;
        margin: 0;
        margin-bottom: 50px;
        padding: 5px
    }

    .close-lightbox {
        display: inline-block
    }

    .blocsapp-device-iphone5 {
        width: 216px;
        height: 425px;
        padding-top: 60px;
        background-size: 216px 425px
    }

    .blocsapp-device-iphone5 img {
        width: 180px;
        height: 320px
    }
}

@media screen and (max-width:768px) {
    main .bloc-lg {
        padding: 20px
    }

    .logo {
        width: 150px;
        border-radius: 50%
    }

    #bloc-1-hero {
        background-color: #364577;
        height: 288px
    }

    .black-background {
        padding: 10px
    }

    .scrollToTop {
        top: -50px;
        border: 1px solid rgba(255, 255, 255, .473)
    }
}

@media (max-width:400px) {
    .bloc {
        padding-right: 0;
        padding-left: 0
    }

    .lightbox-caption {
        font-size: 14px
    }
}